{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "nav" }}
    {{- partial "nav1.html" . -}}
{{ end }}
{{ define "main" }}
<div class="columns is-fullheight is-gapless">
  <div class="column is-3 is-sidebar-menu is-hidden-mobile">
     <aside class="menu content has-padding-t-m has-padding-l-m">
       {{- $currentPage := . -}}
       {{ range .Site.Menus.solutions }}
         <a class="is-hoverable{{ if $currentPage.IsMenuCurrent "solutions" . }} is-active{{ end }}" href="{{ .URL | absLangURL }}"><p class="menu-label has-text-info">{{ .Name }}</p></a>
          <ul class="menu-list">
          {{ if .HasChildren }}
          {{ range .Children }}
            <li><a class="is-hoverable{{ if $currentPage.IsMenuCurrent "solutions" . }} is-active{{ end }}" href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
          {{ end }}
          {{ end }}
          </ul>
       {{ end }}
       {{- $currentPage := . -}}
         <a class="is-hoverable"><p class="menu-label has-text-info">{{ i18n "other" | safeHTML }}</p></a>
          <ul class="menu-list">
       　　{{ range .Site.Menus.solutionsother }}
            <li><a class="is-hoverable{{ if $currentPage.IsMenuCurrent "solutionsother" . }} is-active{{ end }}" href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
          {{ end }}
          </ul>

       <p class="menu-label has-text-info">Tags</p>
       <div class="tags has-margin-l">
       {{ range .Params.tags }}
        <span class="tag is-rounded is-light"><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></span>
       {{ end }}
       </div>

    </aside>

  </div>
  <div class="column is-main-content">
      <div class="box content is-medium has-margin-m has-padding-l">
        <p class="title is-5"><h1>{{ .Title }}</h1></p>
        <p class="subtitle is-italic">{{ .Params.subtitle }}</p>
        {{ .Content }}
      </div>
  </div>
</div>
{{ end }}
{{ define "modals" }}
    {{- partial "modal1.html" . -}}
{{ end }}
{{ define "footer" }}
    {{- partial "footer1.html" . -}}
{{ end }}

