baseURL = "https://esolia.com/"
DefaultContentLanguage = "en"
copyright = "This work is copyright. All rights reserved by eSolia Inc."
canonifyurls = "false"
MetaDataFormat = "yaml"
enableMissingTranslationPlaceholders = "true"
ISO8601 = "2006-01-02T15:04:05JST"
enableRobotsTXT = "true"

[author]
    name = "Rick Cogley"

[permalinks]
    # Optional. Change the permalink format for the 'post' content type.
    # The format shown here is the same one Jekyll/Octopress uses by default.
    post = "/:section/:slug"
    page = "/:slug"

[Taxonomies]
    tag = "tags"
    topic = "topics"
    series = "series"

[markup]
  defaultMarkdownHandler = "goldmark"
  [markup.blackFriday]
    angledQuotes = false
    footnoteAnchorPrefix = ""
    footnoteReturnLinkContents = ""
    fractions = true
    hrefTargetBlank = false
    latexDashes = true
    nofollowLinks = false
    noreferrerLinks = false
    plainIDAnchors = true
    skipHTML = false
    smartDashes = true
    smartypants = true
    smartypantsQuotesNBSP = false
    taskLists = true
  [markup.goldmark]
    [markup.goldmark.extensions]
      definitionList = true
      footnote = true
      linkify = true
      strikethrough = true
      table = true
      taskList = true
      typographer = true
    [markup.goldmark.parser]
      attribute = true
      autoHeadingID = true
    [markup.goldmark.renderer]
      hardWraps = false
      unsafe = true
      xHTML = false
  [markup.highlight]
    codeFences = true
    hl_Lines = ""
    lineNoStart = 1
    lineNos = false
    lineNumbersInTable = true
    noClasses = true
    style = "monokai"
    tabWidth = 4
  [markup.tableOfContents]
    endLevel = 3
    startLevel = 2

[outputs]
    home = [ "HTML", "RSS", "JSON" ]

[imaging]
# Default resample filter used for resizing. Default is Box,
# a simple and fast averaging filter appropriate for downscaling.
# See https://github.com/disintegration/imaging
    resampleFilter = "box"
# JPEG quality setting. Default is 75.
    quality = 80

[params.navigation]
help  = "Help"

[privacy]
  [privacy.disqus]
    disable = true
  [privacy.googleAnalytics]
    anonymizeIP = true
    disable = false
    respectDoNotTrack = true
    useSessionStorage = true
  [privacy.instagram]
    disable = false
    simple = false
  [privacy.speakerDeck]
    disable = false
  [privacy.twitter]
    disable = false
    enableDNT = true
  [privacy.vimeo]
    disable = false
  [privacy.youtube]
    disable = false
    privacyEnhanced = true

[languages]
[languages.en]
baseURL = "https://esolia.com/"
title = "eSolia Inc."
languageName = "English"
weight = 1
# For RSS only, apparently
languageCode = "en-US"
googleAnalytics = "UA-1040233-7"
Analytics = "YHYBNXPJ"

[languages.en.params]
    linkedin = "english-link"
    locale = "en-US"
    alternatelocales = ["ja-JP"]
    description = "Website of eSolia Inc. - a Tokyo-based IT Management and support firm."
    keywords = ["Japan","ICT","IT","Tokyo","Greater Tokyo","Kanto","IT","Management","Support","Outsourcing","Helpdesk","Website","Project Management","Consulting","Development","Operations"]
    author = "Team eSolia"
    accountableperson = "Rick Cogley"
    entityname = "eSolia Inc."
    # Used when a given page doesn't set its own.
    defaultDescription = "Content by eSolia Inc."
    defaultKeywords = "eSolia"
    ISO8601 = "2006-01-02T15:04:05JST"

[[languages.en.menu.main]]
    name = "News"
    weight = 50
    identifier = "news_index_en"
    url = "/post"

[[languages.en.menu.servicesother]]
    name = "News"
    weight = 30
    identifier = "svcothersnews_en"
    url = "/post"

[[languages.en.menu.solutionsother]]
    name = "News"
    weight = 30
    identifier = "solothernews_en"
    url = "/post"

[[languages.en.menu.successesother]]
    name = "News"
    weight = 40
    identifier = "sucothernews_en"
    url = "/post"

[[languages.en.menu.successesother]]
    name = "All Projects"
    weight = 5
    identifier = "sucotherallproj_en"
    url = "/success-stories"

[[languages.en.menu.aboutother]]
    name = "News"
    weight = 40
    identifier = "aboutothernews_en"
    url = "/post"

[[languages.en.menu.main]]
    name = "News Archive"
    weight = 5
    parent = "news_index_en"
    identifier = "newsarchive_en"
    url = "/post"
    pre = "fa-newspaper"
    post = "List of News Posts"

[[languages.en.menu.main]]
    name = "All Topics"
    weight = 10
    parent = "news_index_en"
    identifier = "topicslist_en"
    url = "/topics"
    pre = "fa-fire"
    post = "Major Topical Content Groupings"

[[languages.en.menu.main]]
    name = "All Tags"
    weight = 20
    parent = "news_index_en"
    identifier = "tagslist_en"
    url = "/tags"
    pre = "fa-tags"
    post = "Contents Keywords for Searching"

[[languages.en.menu.main]]
    name = "Project Archive"
    weight = 1
    parent = "success_index_en"
    identifier = "success_indexsub_en"
    url = "/success-stories"
    pre = "fa-calendar-check"
    post = "List of eSolia Projects"

[[languages.en.menu.side]]
    name = "About eSolia"
    identifier = "en_esolia"
    weight = 5

[[languages.en.menu.side]]
    name = "Outsourcing"
    identifier = "en_outsourcing"
    weight = 10

[[languages.en.menu.side]]
    name = "Process"
    identifier = "proc"
    weight = 30
    url = "/process"
    parent = "en_outsourcing"

[[languages.en.menu.side]]
    name = "Consulting"
    identifier = "en_consulting"
    weight = 15

[[languages.en.menu.side]]
    name = "Infrastructure"
    identifier = "en_infra"
    weight = 20

[[languages.en.menu.side]]
    name = "Cloud System"
    identifier = "en_cloudsystem"
    weight = 25

[[languages.en.menu.side]]
    name = "Solutions Focus"
    identifier = "en_solutionsfocus"
    weight = 30

[[menu.side]]
    name = "Success Stories"
    identifier = "en_successstories"
    weight = 40

[[languages.en.menu.side]]
    name = "Topics"
    identifier = "en_topics"
    weight = 111

[[languages.en.menu.side]]
    name = "All Topics"
    identifier = "en_alltopics"
    url = "/topics"
    parent = "topics"
    weight = 1

[[languages.en.menu.side]]
    name = "All Tags"
    identifier = "en_alltags"
    url = "/tags"
    parent = "topics"
    weight = 2

[[languages.en.menu.side]]
    name = "About eSolia"
    identifier = "en_aboutesolia"
    url = "/topics/esolia"
    parent = "topics"
    weight = 10

[[languages.en.menu.side]]
    name = "Services"
    identifier = "en_ourservices"
    weight = 20
    url = "/topics/services"
    parent = "topics"

[[languages.en.menu.side]]
    name = "Telephone"
    identifier = "en_telephonetopic"
    weight = 30
    url = "/topics/telephone"
    parent = "topics"

[[languages.en.menu.side]]
    name = "Tools"
    identifier = "en_tools"
    weight = 222

[[languages.en.menu.side]]
    name = "Zerobin"
    identifier = "en_zerobin"
    url = "https://zerobin.esolia.com"
    post = "_blank"
    parent = "tools"
    weight = 22

[[languages.en.menu.side]]
    name = "eSolia Connect"
    identifier = "en_connect"
    url = "https://esolia.screenconnect.com"
    post = "_blank"
    parent = "tools"
    weight = 33

[[languages.en.menu.detailfooter1]]
    name = "All Topics"
    identifier = "en_topics"
    url = "/topics"
    weight = 55

[[languages.en.menu.toolslist]]
name = "Uptime Monitor"
identifier = "en_uptime"
url = "https://uptime.esolia.pro"
pre = "eSolia Uptime Monitor built with real-time data from a GitHub repository using GitHub Actions, Issues, and Pages. Powered by Upptime."
post = "_blank"
weight = 11

[[languages.en.menu.toolslist]]
    name = "Zerobin"
    identifier = "en_zerobin"
    url = "https://zerobin.esolia.com"
    pre = "eSolia Zerobin is a secure paste service, built upon Seb Sauvage's ZEROBIN system, an opensource 'pastebin' where the server has zero knowledge of pasted data. Data is encrypted and decrypted in the browser using 256-bit AES."
    post = "_blank"
    weight = 22

[[languages.en.menu.toolslist]]
    name = "eSolia Connect"
    identifier = "en_connect"
    url = "https://esolia.screenconnect.com"
    pre = "eSolia Connect is a remote-access solution, that lets our professionals easily connect to your system and perform secure, remote support."
    post = "_blank"
    weight = 33

[[languages.en.menu.toolslist]]
    name = "All Topics"
    identifier = "en_topics"
    url = "/topics"
    pre = "All the topic groupings on this site."
    post = "_self"
    weight = 44

[[languages.en.menu.toolslist]]
    name = "All Tags"
    identifier = "en_tags"
    url = "/tags"
    pre = "All the content tags on this site."
    post = "_self"
    weight = 55

[[languages.en.menu.newsarchive]]
    name = "News Archive"
    identifier = "en_newsarchive"
    url = "/post"
    weight = 10

[languages.ja]
baseURL = "https://esolia.co.jp/"
title = "イソリア"
languageName = "日本語"
weight = 2
# For RSS only, apparently
languageCode = "ja"
hasCJKLanguage = "true"
googleAnalytics = "UA-1040233-8"
Analytics = "RQJNOLGM"

[languages.ja.params]
    linkedin = "リンクドイン"
    locale = "ja-JP"
    alternatelocales = ["en-US"]
    description = "東京をベースにしたITマネージメントやサポート会社、株式会社イソリアのウェブサイト"
    keywords = ["東京","東京近郊","都内","23区","ICT","IT","バイリンガル","サポート","アウトソーシング","外注","ヘルプデスク","ウェブサイト","マネージメント","コンサルティング","開発","統括","日本"]
    author = "チーム イソリア"
    accountableperson = "コブレー ジェームズ"
    entityname = "株式会社イソリア"
    # Used when a given page doesn't set its own.
    defaultDescription = "このコンテンツはイソリアの提供でお送りいたします。"
    defaultKeywords = "イソリア"
    ISO8601 = "2006-01-02T15:04:05JST"

[languages.ja.navigation]
help  = "ヘルプ"

[[languages.ja.menu.main]]
    name = "ニュース"
    weight = 50
    identifier = "news_index_ja"
    url = "/post"

[[languages.ja.menu.servicesother]]
    name = "ニュース"
    weight = 30
    identifier = "svcothersnews_ja"
    url = "/post"

[[languages.ja.menu.solutionsother]]
    name = "ニュース"
    weight = 30
    identifier = "solothernews_ja"
    url = "/post"

[[languages.ja.menu.successesother]]
    name = "ニュース"
    weight = 40
    identifier = "sucothernews_ja"
    url = "/post"

[[languages.ja.menu.successesother]]
    name = "全プロジェクト一覧"
    weight = 5
    identifier = "sucotherallproj_ja"
    url = "/success-stories"

[[languages.ja.menu.aboutother]]
    name = "ニュース"
    weight = 40
    identifier = "aboutothernews_ja"
    url = "/post"

[[languages.ja.menu.main]]
    name = "ニュース アーカイブ"
    weight = 5
    parent = "news_index_ja"
    identifier = "newsarchive_ja"
    url = "/post"
    pre = "fa-newspaper"
    post = "ニュース記事一覧"

[[languages.ja.menu.main]]
    name = "全トピック一覧"
    weight = 10
    parent = "news_index_ja"
    identifier = "topicslist_ja"
    url = "/topics"
    pre = "fa-fire"
    post = "コンテンツの主要な分類"

[[languages.ja.menu.main]]
    name = "全タグ一覧"
    weight = 20
    parent = "news_index_ja"
    identifier = "tagslist_ja"
    url = "/tags"
    pre = "fa-tags"
    post = "コンテンツのキーワード"

[[languages.ja.menu.main]]
    name = "完了プロジェクト"
    weight = 1
    parent = "success_index_ja"
    identifier = "success_indexsub_ja"
    url = "/success-stories"
    pre = "fa-calendar-check"
    post = "イソリア完了プロジェクト一覧"

[[languages.ja.menu.side]]
    name = "イソリアについて"
    identifier = "ja_esolia"
    weight = 5

[[languages.ja.menu.side]]
    name = "アウトソーシング"
    identifier = "ja_outsourcing"
    weight = 10

[[languages.ja.menu.side]]
    name = "プロセス"
    identifier = "ja_proc"
    weight = 30
    url = "/process"
    parent = "outsourcing"

[[languages.ja.menu.side]]
    name = "コンサルティング"
    identifier = "ja_consulting"
    weight = 15

[[languages.ja.menu.side]]
    name = "インフラストラクチャ"
    identifier = "ja_infra"
    weight = 20

[[languages.ja.menu.side]]
    name = "クラウド システム"
    identifier = "ja_cloudsystem"
    weight = 25

[[languages.ja.menu.side]]
    name = "ソリューション フォーカス"
    identifier = "ja_solutionsfocus"
    weight = 30

[[languages.ja.menu.side]]
    name = "成功事例"
    identifier = "ja_successstories"
    weight = 40

[[languages.ja.menu.side]]
    name = "トピック"
    identifier = "ja_topics"
    weight = 111

[[languages.ja.menu.side]]
    name = "全トピック一覧"
    identifier = "ja_alltopics"
    url = "/topics"
    parent = "topics"
    weight = 1

[[languages.ja.menu.side]]
    name = "全タグ一覧"
    identifier = "ja_alltags"
    url = "/tags"
    parent = "topics"
    weight = 2

[[languages.ja.menu.side]]
    name = "イソリアについて"
    identifier = "ja_aboutesolia"
    url = "/topics/イソリア"
    parent = "topics"
    weight = 10

[[languages.ja.menu.side]]
    name = "サービス"
    identifier = "ja_ourservices"
    weight = 20
    url = "/topics/サービス"
    parent = "topics"

[[languages.ja.menu.side]]
    name = "電話"
    identifier = "ja_telephonetopic"
    weight = 30
    url = "/topics/電話"
    parent = "topics"

[[languages.ja.menu.side]]
    name = "便利ツール"
    identifier = "ja_tools"
    weight = 222

[[languages.ja.menu.side]]
    name = "ゼロビン"
    identifier = "ja_zerobin"
    url = "https://zerobin.esolia.com/?language=jp"
    post = "_blank"
    parent = "tools"
    weight = 22

[[languages.ja.menu.side]]
    name = "イソリア コネクト"
    identifier = "ja_connect"
    url = "https://esolia.screenconnect.com"
    post = "_blank"
    parent = "tools"
    weight = 33

[[languages.ja.menu.detailfooter1]]
    name = "全てのトピック一覧"
    identifier = "ja_topics"
    url = "/topics"
    weight = 55

[[languages.ja.menu.toolslist]]
    name = "Uptime Monitor"
    identifier = "ja_uptime"
    url = "https://uptime.esolia.pro"
    pre = "イソリアのアップタイム監視システムは、Githubリポジトリーのアクション、イッシュー、ページの組合わせで、リアルタイムでシステムステータス確認を可能にしてくれます。パワード・バイ・Upptime"
    post = "_blank"
    weight = 11

[[languages.ja.menu.toolslist]]
    name = "ゼロビン"
    identifier = "ja_zerobin"
    url = "https://zerobin.esolia.com/?language=jp"
    pre = "ゼロビンとは、セブソーバッジュ氏の'Zerobin'を元に立てた、イソリア セキュアー ペースト サービスです。サーバー側では、暗号化する文字列の元の形を全く知る事が出来ず、あなたのデータは、ブラウザーの中で256ビットAES方式で暗号化されるので安心できます。"
    post = "_blank"
    weight = 22

[[languages.ja.menu.toolslist]]
    name = "イソリア コネクト"
    identifier = "ja_connect"
    url = "https://esolia.screenconnect.com"
    pre = "イソリアコネクトとは、弊社が使っている遠隔操作ソリューションで、セキュアー且つスピーディーに、お客様のシステムに接続することを可能にします。"
    post = "_blank"
    weight = 33

[[languages.ja.menu.toolslist]]
    name = "全トピック"
    identifier = "ja_topics"
    url = "/topics"
    pre = "全てのトピックを閲覧出来ます。"
    post = "_self"
    weight = 44

[[languages.ja.menu.toolslist]]
    name = "全タグ"
    identifier = "ja_tags"
    url = "/tags"
    pre = "全てのタグを閲覧出来ます。"
    post = "_self"
    weight = 55

[[languages.ja.menu.newsarchive]]
    name = "ニュースアーカイブ"
    identifier = "ja_newsarchive"
    url = "/post"
    weight = 10
