{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "nav" }}
    {{- partial "nav1.html" (dict "context" . "navbgcolor" "is-esolia-blue-0" "langswcolor" "is-esolia-yellow-0" "naviconcolor" "has-text-esolia-secondary-2-0" "menuiconcolor" "has-text-esolia-blue-0") -}}
{{ end }}
{{ define "main" }}
<div class="columns content is-fullheight is-gapless">
  <div class="column is-3 is-sidebar-menu is-hidden-mobile">
     <aside class="menu content has-padding-t-m has-padding-l-m">

       {{- $currentPage := . -}}
         <p class="menu-label has-text-info">{{ i18n "newsarchivemenu" }}</p>
       {{ range .Site.Menus.newsarchive }}
         <ul class="menu-list">
           <li><a class="is-hoverable{{ if $currentPage.IsMenuCurrent "newsarchive" . }} is-active{{ end }}" href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
         </ul>
       {{ end }}

       {{ range .Site.Menus.services }}
         <a class="is-hoverable{{ if $currentPage.IsMenuCurrent "services" . }} is-active{{ end }}" href="{{ .URL | absLangURL }}"><p class="menu-label has-text-info">{{ .Name }}</p></a>
          <ul class="menu-list">
          {{ if .HasChildren }}
          {{ range .Children }}
            <li><a class="is-hoverable{{ if $currentPage.IsMenuCurrent "services" . }} is-active{{ end }}" href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
          {{ end }}
          {{ end }}
          </ul>
       {{ end }}


       <p class="menu-label has-text-info">Tags</p>
       <div class="tags has-margin-l">
       {{ range .Params.tags }}
        <span class="tag is-rounded is-light"><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></span>
       {{ end }}
       </div>
       <br><br>
    </aside>
  </div>
  <div class="column is-main-content">
      <div class="box content is-size-5-desktop is-size-6-mobile has-margin-m has-padding-t-xxs">
        <p class="title is-5"><h1>{{ .Title }}</h1></p>
        <p class="subtitle is-italic has-text-esolia-blue-2">{{ .Params.subtitle }}</p>
        {{ .Content }}
        <div class="columns">
          <div class="column">
          　　<h3>{{ i18n "newsarchivearticlesbyyear" }}</h3>
                {{ range .Data.Pages.GroupByDate "2006" }}
                <h4 class="">{{ .Key }}</h4>
                    <ul class="list">
                        {{ range .Pages }}
                            {{ .Render "li"}}
                        {{ end }}
                    </ul>
                {{ end }}
                </div>
          <div class="column" id="hideheader">
          　　<h3>{{ i18n "newsarchiveshortposts" }}</h3>
                {{- if eq .Site.Language.Lang "en" -}}
                <a class="" href="https://pro.dbflex.net/secure/public/db/15331/rss.ashx?view=3461316&user=40863e67a24a41e281eac29548bc68b2">
                <span class="icon has-text-esolia-yellow-2"><i class="fas fa-rss-square"></i></span>
                </a>
                <script src="https://pro.dbflex.net/secure/embed.js"
        data-url="/ev-3461316/db/15331/view.aspx"></script>
                {{- else -}}
                <a class="" href="https://pro.dbflex.net/secure/public/db/15331/rss.ashx?view=3461317&user=40863e67a24a41e281eac29548bc68b2">
                <span class="icon has-text-esolia-yellow-2"><i class="fas fa-rss-square"></i></span>
                </a>
                <script src="https://pro.dbflex.net/secure/embed.js"
        data-url="/ev-3461317/db/15331/view.aspx"></script>
                {{- end -}}
          </div>
        </div>
      </div>
  </div>
</div>

{{ end }}
{{ define "modals" }}
    {{- partial "modal1.html" . -}}
{{ end }}
{{ define "footer" }}
    {{- partial "footer1.html" . -}}
{{ end }}

