version: 2
jobs:
  build:
    docker:
      - image: cibuilds/hugo:latest
    working_directory: ~/hugo
    environment:
      HUGO_BUILD_DIR: ~/hugo/public
    steps:

      # install git and jq for json manipulation
      - run: apt-get update && apt-get install -y git && apt-get install -y jq

      # checkout the repository
      - checkout

      # install git submodules for managing third-party dependencies
      - run: git submodule sync && git submodule update --init

      # - run:
      #     name: Install AWS CLI (first install pip, the Python package manager)
      #     command: |
      #       apt-get install -y python python-dev py-pip build-base
      #       pip install awscli

      - run:
          name: Install s3deploy from bep
          command: |
            curl -L https://github.com/bep/s3deploy/releases/download/v2.3.2/s3deploy_2.3.2_Linux-64bit.tar.gz | tar xvz

      - run:
          name: Run commands to see results on std-out in the circleci web gui log
          command: |
             pwd
             hugo env
      #        ls -la $HOME
      #        ls -la $HOME/hugo
      #       echo $HOME
      #       echo $CIRCLE_PROJECT_REPONAME

      - run:
          name: Refresh data
          command: |
            rm -rf $HOME/hugo/data/success.json
            rm -rf $HOME/hugo/data/info.json
            rm -rf $HOME/hugo/data/japancontact.json
            rm -rf $HOME/hugo/data/japanapp.json
            rm -rf $HOME/hugo/static/eSolia-Japan-Emergency-Contacts.en.csv
            rm -rf $HOME/hugo/static/eSolia-Japan-Emergency-Contacts.ja.csv
            curl -k "https://pro.dbflex.net/secure/api/v2/$PRODB_DBNUM/$PRODB_TOKEN/Web%20Project/List%20All%20for%20JSON/select.json" | jq '.' > $HOME/hugo/data/success.json
            curl -k "https://pro.dbflex.net/secure/api/v2/$PRODB_DBNUM/$PRODB_TOKEN/Web%20Information/List%20All%20on%20Website/select.json"  | jq '.' > $HOME/hugo/data/info.json
            curl -k "https://pro.dbflex.net/secure/api/v2/$PRODB_DBNUM/$PRODB_TOKEN/Web%20Japan%20Contact%20and%20App/API%20List%20All/select.json" | jq '.' > $HOME/hugo/data/japancontact.json
            curl -k "https://pro.dbflex.net/secure/api/v2/$PRODB_DBNUM/$PRODB_TOKEN/Web%20Japan%20Contact%20and%20App/API%20List%20All%20Apps/select.json" | jq '.' > $HOME/hugo/data/japanapp.json
            curl -k "https://pro.dbflex.net/secure/api/v2/$PRODB_DBNUM/$PRODB_TOKEN/Web%20Japan%20Contact%20and%20App/API%20List%20for%20CSV/select.csv" -o $HOME/hugo/static/eSolia-Japan-Emergency-Contacts.en.csv
            curl -k "https://pro.dbflex.net/secure/api/v2/$PRODB_DBNUM/$PRODB_TOKEN/Web%20Japan%20Contact%20and%20App/API%20List%20for%20CSV%E2%80%A1/select.csv" -o $HOME/hugo/static/eSolia-Japan-Emergency-Contacts.ja.csv

      # build with Hugo
      - run:
          name: Build site with Hugo
          command: |
            HUGO_ENV=production hugo --gc -v -d $HUGO_BUILD_DIR

      #- run:
#          name: Test our generated HTML files with htmlproofer
#          command: |
#            htmlproofer $HUGO_BUILD_DIR/en --allow-hash-href --check-html --empty-alt-ignore --disable-external
#            htmlproofer $HUGO_BUILD_DIR/ja --allow-hash-href --check-html --empty-alt-ignore --disable-external

      # `deploy` step: identical to a `run` step, but uses only one container:
      # https://circleci.com/docs/2.0/configuration-reference/#deploy
      # Old aws invalidation commands:
       # aws cloudfront create-invalidation --distribution-id $AWS_CF_ESOLIACOM_DISTN --paths "/index.html" "/" "/page/*" "/post/*" "/sitemap/*" "/404/*" "/tags/*" "/topics/*"
       # aws cloudfront create-invalidation --distribution-id $AWS_CF_ESOLIACOJP_DISTN --paths "/index.html" "/" "/page/*" "/post/*" "/sitemap/*" "/404/*" "/tags/*" "/topics/*"
      - deploy:
          name: Deploy to AWS S3
          command: |
            if [ "${CIRCLE_BRANCH}" = "master" ]; then
              ./s3deploy -source=$HUGO_BUILD_DIR/en -region=us-east-1 -bucket=$AWS_S3_ESOLIACOM_BKTNAME -distribution-id=$AWS_CF_ESOLIACOM_DISTN
              ./s3deploy -source=$HUGO_BUILD_DIR/ja -region=us-east-1 -bucket=$AWS_S3_ESOLIACOJP_BKTNAME -distribution-id=$AWS_CF_ESOLIACOJP_DISTN
              curl -A "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13) AppleWebKit/604.1.38 (KHTML, like Gecko) Version/11.0 Safari/604.1.38" "http://pingomatic.com/ping/?title=イソリア+バイリンガル+IT+アウトソーシング&blogurl=https%3A%2F%2Fesolia.co.jp&rssurl=https%3A%2F%2Fesolia.co.jp%2Findex.xml&chk_weblogscom=on&chk_blogs=on&chk_feedburner=on&chk_newsgator=on&chk_myyahoo=on&chk_pubsubcom=on&chk_blogdigger=on&chk_weblogalot=on&chk_newsisfree=on&chk_topicexchange=on&chk_google=on&chk_tailrank=on&chk_skygrid=on&chk_collecta=on&chk_superfeedr=on"
              curl "http://www.google.com/webmasters/tools/ping?sitemap=https%3A%2F%2Fesolia.co.jp%2Fsitemap.xml"
              curl "http://www.bing.com/webmaster/ping.aspx?siteMap=https%3A%2F%2Fesolia.co.jp%2Fsitemap.xml"
              curl -A "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13) AppleWebKit/604.1.38 (KHTML, like Gecko) Version/11.0 Safari/604.1.38" "http://pingomatic.com/ping/?title=eSolia+Bilingual+IT+Outsourcing&blogurl=https%3A%2F%2Fesolia.com&rssurl=https%3A%2F%2Fesolia.com%2Findex.xml&chk_weblogscom=on&chk_blogs=on&chk_feedburner=on&chk_newsgator=on&chk_myyahoo=on&chk_pubsubcom=on&chk_blogdigger=on&chk_weblogalot=on&chk_newsisfree=on&chk_topicexchange=on&chk_google=on&chk_tailrank=on&chk_skygrid=on&chk_collecta=on&chk_superfeedr=on"
              curl "http://www.google.com/webmasters/tools/ping?sitemap=https%3A%2F%2Fesolia.com%2Fsitemap.xml"
              curl "http://www.bing.com/webmaster/ping.aspx?siteMap=https%3A%2F%2Fesolia.com%2Fsitemap.xml"
            else
              echo "Not master branch, dry run only"
            fi
workflows:
  version: 2
  build_test_deploy:
    jobs:
      - build
  autopublish:
    triggers:
      - schedule:
          cron: "27 17 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build
