<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ with .Params.robotsdisallow }}<meta name="robots" content="noindex">{{ end }}
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <script src="https://use.typekit.net/fwz4gtk.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel="stylesheet" type="text/css" href="/css/main.min.css{{with getenv "MAINCSS_HASH"}}?v={{.}}{{end}}">
    <script type="text/javascript" src="/js/main.min.js{{with getenv "MAINJS_HASH"}}?v={{.}}{{end}}"></script>

  {{ if .IsPage }}
  {{if isset .Params "inforequest" }}
    <script src="https://pro.dbflex.net/secure/db/55438/res.aspx/captcha.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=tryInitCaptcha&render=explicit&hl=en"></script>
  {{ end }}
  {{if isset .Params "gallery_id" }}
    <script type="text/javascript" src="/js/bulma-carousel.min.js{{with getenv "BUCAJS_HASH"}}?v={{.}}{{end}}"></script>
  {{ end }}
  {{if isset .Params "bulma_steps" }}
    <script type="text/javascript" src="/js/bulma-steps.min.js{{with getenv "BUSTJS_HASH"}}?v={{.}}{{end}}"></script>
  {{ end }}
  {{ end }}

  </head>
  <body>
    <!-- Code that all your templates share, like a header -->
    {{ block "nav" . }}
    {{ end }}
    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}
    {{ block "footer" . }}
    <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
    {{ end }}
    {{ block "modals" . }}
    {{ end }}
  </body>
</html>
