{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "nav" }}
    {{- partial "nav-home.html" . -}}
{{ end }}
{{ define "main" }}
   <section class="hero is-medium hero-bg-totsukabridge">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-8-desktop is-offset-2-desktop">
              <h1 class="title is-2 is-spaced has-text-white">
                {{ .Title }}
              </h1>
              <h2 class="subtitle is-4 has-text-white">
                  {{ .Content }}
              </h2>

              <button class="button is-esolia-yellow-1 is-medium modal-button" data-target="#modal">{{ i18n "topsectioncus" }}</button>

            </div>
          </div>
        </div>
      </div>

      <svg xmlns="http://www.w3.org/2000/svg"  width="100%" height="198">
                <defs>
                  <linearGradient id="a" x1="50%" x2="50%" y1="-10.959%" y2="100%">
                    <stop stop-color="#5EB500" stop-opacity=".30" offset="0%"/>
                    <stop stop-color="#74DF00" offset="100%"/>
                  </linearGradient>
                  <linearGradient id="b" x1="50%" x2="50%" y1="-10.959%" y2="100%">
                    <stop stop-color="#004980" stop-opacity=".5" offset="0%"/>
                    <stop stop-color="#005A9F" offset="100%"/>
                  </linearGradient>
                  <linearGradient id="c" x1="50%" x2="50%" y1="-10.959%" y2="100%">
                    <stop stop-color="#4a4a4a" stop-opacity="1" offset="0%"/>
                    <stop stop-color="#363636" offset="60%"/>
                  </linearGradient>
                </defs>
                <path transform="translate(700, 0)" fill="url(#b)" fill-rule="evenodd" d="M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z" />
                <path transform="translate(-900, 0)" fill="url(#b)" fill-rule="evenodd" d="M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z" />
                <path transform="translate(0, 0)" fill="url(#a)" fill-rule="evenodd" d="M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z" transform="matrix(-1 0 0 1 1600 0)"/>
                <path transform="translate(1600, 0)" fill="url(#a)" fill-rule="evenodd" d="M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z" transform="matrix(-1 0 0 1 1600 0)"/>
                <path transform="translate(1000, 75)" fill="url(#c)" fill-rule="evenodd" d="M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z" />
                <path transform="translate(-600, 75)" fill="url(#c)" fill-rule="evenodd" d="M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z" />
      </svg>

    </section>


    <section class="section bg-dark">
    <div class="tile is-ancestor">
        <div class="tile is-parent is-shaded">
          <article class="tile is-child box notification is-esolia-secondary-2-3">
            <p class="title">{{ i18n "compName" }}</p>
            <p class="subtitle">{{ i18n "strongfoundations" }}</p>
            <p>{{ i18n "topsectionintrotext" | safeHTML | markdownify }}</p>
          </article>
        </div>

        <div class="tile is-parent is-shaded">
          <article class="tile is-child box notification is-esolia-blue-3">
            <p class="title">{{ i18n "topsectionwwd" }}</p>
            <p class="subtitle">{{ i18n "topsectionwwdsub" }}</p>
            <p>{{ i18n "topsectionwwdtext" | safeHTML }}</p>
          </article>
        </div>

        <div class="tile is-parent is-shaded">
          <article class="tile is-child box notification is-esolia-yellow-3">
            <p class="title">{{ i18n "topsectiontr" }}</p>
            <p class="subtitle">{{ i18n "topsectiontrsub" }}</p>
            <p>{{ i18n "topsectiontrtext" | safeHTML }}</p>
          </article>
        </div>

        <div class="tile is-parent is-shaded">
          <article class="tile is-child box notification is-esolia-secondary-1-4">
            <p class="title">{{ i18n "topsectionwhy" }}</p>
            <p class="subtitle">{{ i18n "topsectionwhysub" }}</p>
            <p>{{ i18n "topsectionwhytext" | safeHTML }}</p>
          </article>
        </div>
      </div>

      <div class="tile is-ancestor">
        <div class="tile is-vertical is-9">
          <div class="tile">
            <div class="tile is-parent">
              <article class="tile is-child box">
                <p class="title">{{ i18n "topsectionvideo" }}</p>
                <p class="is-italic">{{ i18n "topsectionvideosub" }}</p>
                     <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/78135284" style="position:absolute;left:0;top:0;width:100%;height:100%;" frameborder="0" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
              </article>
            </div>
            <div class="tile is-8 is-vertical">
              <div class="tile">
                <div class="tile is-parent">
                  <article class="tile is-child box">
                    <figure class="image">
                      <img src="/img/eSolia-Logo-Flat-2015.png"></img>
                    </figure>
                  </article>
                </div>
                <div class="tile is-parent">
                  <article class="tile is-child box">
                    <p class="title">Six</p>
                    <p class="subtitle">Subtitle</p>
                  </article>
                </div>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <p class="title">Eight</p>
                  <p class="subtitle">Subtitle</p>
                </article>
              </div>
            </div>
          </div>
          <div class="tile">
            <div class="tile is-8 is-parent">
              <article class="tile is-child box">
                <p class="title">{{ i18n "topsectioninfo" }}</p>
                <p class="subtitle">{{ i18n "topsectioninfosub" }}</p>
                  <div id="hideheader" class="has-padding-t-xxs has-margin-l-m">
                  <span>{{ i18n "topsectioninfotext" | markdownify }}</span>
                　　{{- if eq .Site.Language.Lang "en" -}}
                      <script src="https://pro.dbflex.net/secure/embed.js"
                      data-url="/ev-3440630/db/15331/view.aspx"></script>
                　　{{- else -}}
                    　<script src="https://pro.dbflex.net/secure/embed.js"
                    data-url="/ev-3440631/db/15331/view.aspx"></script>
                　　{{- end -}}
                　</div>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box hero-bg-totsukabridge">
                <p class="title">Ten</p>
                <p class="subtitle">Subtitle</p>
                <div class="content">
                  <p>List Info higher on page? Find places for quotes, specials like Denphone or Codebook (carousel?). Latest Longhand posts, on both home and news page. News = the short ones, blog = long ones. Tone friendly on short. </p>
                </div>
              </article>
            </div>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <div class="content">
              <p class="title">{{ i18n "topsectionpledge" }}</p>
              <p class="subtitle">{{ i18n "topsectionpledgesub" }}</p>
              <div class="content">
                <p>{{ i18n "topsectionpledgetext" | safeHTML | markdownify }}</p>
              </div>
            </div>
          </article>
        </div>
      </div>

      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">Twelve</p>
            <p class="subtitle">Subtitle</p>
            <div class="content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut.</p>
            </div>
          </article>
        </div>
        <div class="tile is-parent is-6">
          <article class="tile is-child box">
            <p class="title">{{ i18n "topsectionprojects" }}</p>
            <p class="subtitle">{{ i18n "topsectionprojectssub" }}</p>
            <div id="hideheader" class="has-padding-t-xxs has-margin-l-m">
            <span>{{ i18n "topsectionprojectstext" | markdownify }}</span>
          　　{{- if eq .Site.Language.Lang "en" -}}
                <script src="https://pro.dbflex.net/secure/embed.js"
data-url="/ev-3456938/db/15331/view.aspx"></script>
          　　{{- else -}}
              　<script src="https://pro.dbflex.net/secure/embed.js"
data-url="/ev-3456939/db/15331/view.aspx"></script>
          　　{{- end -}}
            </div>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">Fourteen</p>
            <p class="subtitle">Subtitle</p>
            <div class="content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut.</p>
            </div>
          </article>
        </div>
      </div>
    </section>

    <section class="section notification is-esolia-yellow-1 is-marginless is-radiusless">
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Pros per account</p>
            <p class="title">2</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Critical Partners</p>
            <p class="title">12</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Principals' Years of Experience</p>
            <p class="title">100</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Tickets Resolved Annually</p>
            <p class="title">3,000+</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Hours Booked over 5 Years</p>
            <p class="title">60,000+</p>
          </div>
        </div>
      </nav>
    </section>

    <!--
<div class="box cta">
    <p class="has-text-centered">
      <span class="tag is-primary">New</span> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    </div>
 -->

    <section class="section bg-light is-marginless is-radiusless">
      <div class="container">
        <div class="columns">

          <div class="column">
          </div>
          <div class="column is-two-fifths">
            <div class="content">
              <h3>{{ i18n "genlatestposts" }}</h3>
              <ul class="has-padding-t-s">
             　{{ range first 6 (where .Data.Pages "Section" "post").ByDate.Reverse }}
                  <li class="link list-has-no-style"><a class="link" href="{{ .Permalink }}">{{ .Title | markdownify }}</a><span class="is-italic">&nbsp;&mdash;&nbsp;{{ .Date.Format "02 Jan, 2006" }}</span></li>
               {{ end }}
               </ul>
            </div>
          </div>

          <div class="column is-two-fifths">
            <div class="content">
              <h3>{{ i18n "genlatestfeature" }}</h3>
              <ul class="has-padding-t-l">
              {{ with .Site.Taxonomies.series.top1 }}
                {{ range first 6 . }}
                  <li class="link list-has-no-style"><a class="link" href="{{ .Permalink }}">{{ .Page.Title | markdownify }}</a><span class="is-italic">&nbsp;&mdash;&nbsp;{{ .Date.Format "02 Jan, 2006" }}</span></li>
                {{ end }}
              {{ end }}
              </ul>
             </div>
          </div>
          <div class="column">
          </div>

        </div>
      </div>
    </section>

    <div class="section bg-dark has-text-primary is-paddingless is-radiusless">
      <svg xmlns="http://www.w3.org/2000/svg"  width="100%" height="198">
        <rect width="100%" height="100%" stroke="#F5F5F5" fill="#F5F5F5"/>
				<defs>
					<linearGradient id="aa" x1="50%" x2="50%" y1="-10.959%" y2="100%">
						<stop stop-color="#16b2c7" stop-opacity=".80" offset="0%"/>
						<stop stop-color="#fff" offset="100%"/>
					</linearGradient>
					<linearGradient id="cc" x1="50%" x2="50%" y1="-10.959%" y2="100%">
						<stop stop-color="#4a4a4a" stop-opacity="1" offset="00%"/>
						<stop stop-color="#363636" offset="70%"/>
					</linearGradient>
				</defs>
				<path transform="translate(-400, 0)" fill="url(#aa)" fill-rule="evenodd" d="M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z" transform="matrix(-1 0 0 1 1600 0)"/>
				<path transform="translate(500, 50)" fill="url(#cc)" fill-rule="evenodd" d="M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z" />
				<path transform="translate(-1100, 50)" fill="url(#cc)" fill-rule="evenodd" d="M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z" />

			</svg>
    </div>



{{ end }}
{{ define "modals" }}
    {{- partial "modal1.html" . -}}
{{ end }}
{{ define "footer" }}
    {{- partial "footer1.html" . -}}
{{ end }}
