{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "nav" }}
    {{- partial "nav-home.html" . -}}
{{ end }}
{{ define "main" }}
   <section class="hero is-medium hero-bg-totsukabridge">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-8-desktop is-offset-2-desktop">
              <h1 class="title is-2 is-spaced has-text-white">
                {{ .Title }}
              </h1>
              <h2 class="subtitle is-4 has-text-white">
                  {{ .Content }}
              </h2>

              <button class="button is-primary" data-show="quickview" data-target="quickviewDefault">Show quickview</button>

            </div>
          </div>
        </div>
      </div>

      <svg xmlns="http://www.w3.org/2000/svg"  width="100%" height="198">
                <defs>
                  <linearGradient id="a" x1="50%" x2="50%" y1="-10.959%" y2="100%">
                    <stop stop-color="#5EB500" stop-opacity=".30" offset="0%"/>
                    <stop stop-color="#74DF00" offset="100%"/>
                  </linearGradient>
                  <linearGradient id="b" x1="50%" x2="50%" y1="-10.959%" y2="100%">
                    <stop stop-color="#004980" stop-opacity=".5" offset="0%"/>
                    <stop stop-color="#005A9F" offset="100%"/>
                  </linearGradient>
                  <linearGradient id="c" x1="50%" x2="50%" y1="-10.959%" y2="100%">
                    <stop stop-color="#4a4a4a" stop-opacity="1" offset="0%"/>
                    <stop stop-color="#363636" offset="60%"/>
                  </linearGradient>
                </defs>
                <path transform="translate(700, 0)" fill="url(#b)" fill-rule="evenodd" d="M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z" />
                <path transform="translate(-900, 0)" fill="url(#b)" fill-rule="evenodd" d="M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z" />
                <path transform="translate(0, 0)" fill="url(#a)" fill-rule="evenodd" d="M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z" transform="matrix(-1 0 0 1 1600 0)"/>
                <path transform="translate(1600, 0)" fill="url(#a)" fill-rule="evenodd" d="M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z" transform="matrix(-1 0 0 1 1600 0)"/>
                <path transform="translate(1000, 75)" fill="url(#c)" fill-rule="evenodd" d="M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z" />
                <path transform="translate(-600, 75)" fill="url(#c)" fill-rule="evenodd" d="M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z" />
      </svg>

    </section>
    <section class="section has-margin-l-xl has-margin-r-xl">
    <div class="tile is-ancestor">
        <div class="tile is-parent is-shaded">
          <article class="tile is-child box notification is-info">
            <p class="title">{{ i18n "topsectionwwd" }}</p>
            <p class="subtitle">{{ i18n "topsectionwwdsub" }}</p>
            <p>{{ i18n "topsectionwwdtext" | safeHTML }}</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box notification is-link">
            <p class="title">Two</p>
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">Three</p>
            <p class="subtitle">Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Morbi maximus, leo sit amet vehicula eleifend, nunc dui porta orci, quis semper odio felis ut quam.</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">Four</p>
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          </article>
        </div>
      </div>

      <div class="tile is-ancestor">
        <div class="tile is-vertical is-9">
          <div class="tile">
            <div class="tile is-parent">
              <article class="tile is-child box">
                <p class="title">Five</p>
                <p class="subtitle">Subtitle</p>
                <div class="content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Morbi maximus, leo sit amet vehicula eleifend, nunc dui porta orci, quis semper odio felis ut quam.</p>
                  <a class="button is-primary is-small modal-button" data-target="#modal">Launch example modal</a>



                </div>
              </article>
            </div>
            <div class="tile is-8 is-vertical">
              <div class="tile">
                <div class="tile is-parent">
                  <article class="tile is-child box">
                    <p class="title">Six</p>
                    <p class="subtitle">Subtitle</p>
                  </article>
                </div>
                <div class="tile is-parent">
                  <article class="tile is-child box">
                    <figure class="image">
                      <img src="/img/eSolia-Logo-Flat-2015.png"></img>
                    </figure>
                  </article>
                </div>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <p class="title">Eight</p>
                  <p class="subtitle">Subtitle</p>
                </article>
              </div>
            </div>
          </div>
          <div class="tile">
            <div class="tile is-8 is-parent">
              <article class="tile is-child box">
                <p class="title">Nine</p>
                <p class="subtitle">Subtitle</p>
                <div class="content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                </div>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                <p class="title">Ten</p>
                <p class="subtitle">Subtitle</p>
                <div class="content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                </div>
              </article>
            </div>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <div class="content">
              <p class="title">{{ i18n "compName" }}</p>
              <p class="subtitle">{{ i18n "strongfoundations" }}</p>
              <div class="content">
                <p>{{ i18n "toplongblurb" | safeHTML }}</p>
              </div>
            </div>
          </article>
        </div>
      </div>

      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">Twelve</p>
            <p class="subtitle">Subtitle</p>
            <div class="content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut.</p>
            </div>
          </article>
        </div>
        <div class="tile is-parent is-6">
          <article class="tile is-child box">
            <p class="title">Thirteen</p>
            <p class="subtitle">Subtitle</p>
            <div class="content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
            </div>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">Fourteen</p>
            <p class="subtitle">Subtitle</p>
            <div class="content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut.</p>
            </div>
          </article>
        </div>
      </div>
    </section>
    <section class="section notification is-esolia-yellow-1 is-marginless">
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Pros per account</p>
            <p class="title">2</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Critical Partners</p>
            <p class="title">12</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Principals' Years of Experience</p>
            <p class="title">100</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Tickets Resolved Annually</p>
            <p class="title">3,000+</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Hours Booked over 5 Years</p>
            <p class="title">60,000+</p>
          </div>
        </div>
      </nav>
    </section>

    <!--
<div class="box cta">
    <p class="has-text-centered">
      <span class="tag is-primary">New</span> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    </div>
 -->

    <section class="section is-marginless notification is-esolia-secondary-1-0">
      <div class="columns is-centered  has-margin-l-xl has-margin-r-xl">
        <div class="column">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                Post about this and that and the other...
              </p>
              <a href="#" class="card-header-icon" aria-label="more options">
                <span class="icon">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </a>
            </header>
            <div class="card-content">
              <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
                <br>
                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
              </div>
            </div>
            <footer class="card-footer">
              <a href="#" class="card-footer-item">More Info</a>
              <a href="#" class="card-footer-item">All Posts</a>
            </footer>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                Post about this and that and the other...
              </p>
              <a href="#" class="card-header-icon" aria-label="more options">
                <span class="icon">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </a>
            </header>
            <div class="card-content">
              <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
                <br>
                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
              </div>
            </div>
            <footer class="card-footer">
              <a href="#" class="card-footer-item">More Info</a>
              <a href="#" class="card-footer-item">All Posts</a>
            </footer>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                Post about this and that and the other...
              </p>
              <a href="#" class="card-header-icon" aria-label="more options">
                <span class="icon">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </a>
            </header>
            <div class="card-content">
              <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
                <br>
                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
              </div>
            </div>
            <footer class="card-footer">
              <a href="#" class="card-footer-item">More Info</a>
              <a href="#" class="card-footer-item">All Posts</a>
            </footer>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                Post about this and that and the other...
              </p>
              <a href="#" class="card-header-icon" aria-label="more options">
                <span class="icon">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </a>
            </header>
            <div class="card-content">
              <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
                <br>
                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
              </div>
            </div>
            <footer class="card-footer">
              <a href="#" class="card-footer-item">More Info</a>
              <a href="#" class="card-footer-item">All Posts</a>
            </footer>
          </div>
        </div>
      </div>
      <div class="columns has-margin-l-xl has-margin-r-xl">
        <div class="column">
          <script src="https://pro.dbflex.net/secure/embed.js"
  data-url="/ev-3440630/db/15331/view.aspx"></script>
        </div>
        <div class="column">
  　　　　　<script src="https://pro.dbflex.net/secure/embed.js"
  data-url="/ev-3440631/db/15331/view.aspx"></script>
　　　　 </div>
      </div>
    </section>
    <section class="section notification is-light is-marginless is-radiusless">
      <div class="container">
        <div class="columns">
          <div class="column is-8-desktop is-offset-2-desktop">
            <div class="content">

            <div id="hideheader" class="">
                      <script src="https://pro.dbflex.net/secure/embed.js"
              data-url="/ev-3440630/db/15331/view.aspx"></script>
            </div>
            <div id="hideheader" class="">
              　　　　　<script src="https://pro.dbflex.net/secure/embed.js"
              data-url="/ev-3440631/db/15331/view.aspx"></script>
            </div>


              <h3>What's included</h3>
              <p>
                The <code>npm</code> dependencies included in <code>package.json</code> are:
              </p>
              <ul>
                <li>
                  <code><a href="https://github.com/jgthms/bulma">bulma</a></code>
                </li>
                <li>
                  <code><a href="https://github.com/sass/node-sass">node-sass</a></code> to compile your own Sass file
                </li>
                <li>
                  <code><a href="https://github.com/postcss/postcss-cli">postcss-cli</a></code> and <code><a href="https://github.com/postcss/autoprefixer">autoprefixer</a></code> to add support for older browsers
                </li>
                <li>
                  <code><a href="https://babeljs.io/docs/usage/cli/">babel-cli</a></code>,
                  <code><a href="https://github.com/babel/babel-preset-env">babel-preset-env</a></code>
                  and
                  <code><a href="https://github.com/jmcriffey/babel-preset-es2015-ie">babel-preset-es2015-ie</a></code>
                  for compiling ES6 JavaScript files
                </li>
              </ul>
              <p>
                Apart from <code>package.json</code>, the following files are included:
              </p>
              <ul>
                <li>
                  <code>.babelrc</code> configuration file for <a href="https://babeljs.io/">Babel</a>
                </li>
                <li>
                  <code>.gitignore</code> common <a href="https://git-scm.com/">Git</a> ignored files
                </li>
                <li>
                  <code>index.html</code> this HTML5 file
                </li>
                <li>
                  <code>_sass/main.scss</code> a basic SCSS file that <strong>imports Bulma</strong> and explains how to <strong>customize</strong> your styles, and compiles to <code>css/main.css</code>
                </li>
                <li>
                  <code>_javascript/main.js</code> an ES6 JavaScript that compiles to <code>lib/main.js</code>
                </li>
              </ul>
              <h3>Try it out!</h3>
              <p>
                To see if your setup works, follow these steps:
              </p>
              <ol>
                <li>
                  <p>
                    <strong>Install</strong> all dependencies:
                    <br>
                    <pre><code>npm install</code></pre>
                  </p>
                </li>
                <li>
                  <p>
                    <strong>Start</strong> the CSS and JS watchers:
                    <br>
                    <pre><code>npm start</code></pre>
                  </p>
                </li>
                <li>
                  <p>
                    <strong>Edit</strong> <code>_sass/main.scss</code> by adding the following rule at the <strong>end</strong> of the file:
                    <br>
                    <pre><code>html { background-color: $green;}</code></pre>
                  </p>
                </li>
              </ol>
              <p>
                The page background should turn <strong class="has-text-success">green</strong>!
              </p>
              <h3>Get started</h3>
              <p>
                You're <strong>ready</strong> to create your own designs with Bulma. Just edit or duplicate this page, or simply create a new one!
                <br>
                For example, this page is <strong>only</strong> built with the following <strong>Bulma elements</strong>:
              </p>
            </div>
            <table class="table is-bordered is-fullwidth">
              <thead>
                <tr>
                  <th>Type</th>
                  <th>CSS class</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>Columns</th>
                  <td>
                    <code><a href="http://bulma.io/documentation/columns/basics">columns</a></code>
                    <code><a href="http://bulma.io/documentation/columns/basics">column</a></code>
                  </td>
                </tr>
                <tr>
                  <th>Layout</th>
                  <td>
                    <code><a href="http://bulma.io/documentation/layout/section">section</a></code>
                    <code><a href="http://bulma.io/documentation/layout/container">container</a></code>
                    <code><a href="http://bulma.io/documentation/layout/footer">footer</a></code>
                  </td>
                </tr>
                <tr>
                  <th>Elements</th>
                  <td>
                    <code><a href="http://bulma.io/documentation/elements/button">button</a></code>
                    <code><a href="http://bulma.io/documentation/elements/content">content</a></code>
                    <code><a href="http://bulma.io/documentation/elements/title">title</a></code>
                    <code><a href="http://bulma.io/documentation/elements/title">subtitle</a></code>
                  </td>
                </tr>
                <tr>
                  <th>Form</th>
                  <td>
                    <code><a href="http://bulma.io/documentation/form/general">field</a></code>
                    <code><a href="http://bulma.io/documentation/form/general">control</a></code>
                  </td>
                </tr>
                <tr>
                  <th>Helpers</th>
                  <td>
                    <code><a href="http://bulma.io/documentation/modifiers/typography-helpers/">has-text-centered</a></code>
                    <code><a href="http://bulma.io/documentation/modifiers/typography-helpers/">has-text-weight-semibold</a></code>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="content">
              <p>
                If you want to <strong>learn more</strong>, follow these links:
              </p>
            </div>
            <div class="field is-grouped">
              <p class="control">
                <a class="button is-medium is-primary" href="http://bulma.io">
                  <strong class="has-text-weight-semibold">Bulma homepage</strong>
                </a>
              </p>
              <p class="control">
                <a class="button is-medium is-link" href="http://bulma.io/documentation/overview/start/">
                  <strong class="has-text-weight-semibold">Documentation</strong>
                </a>
                <br><br>
              </p>
            </div>
          </div>
        </div>
      </div>



    </section>

    <div class="section has-text-primary is-light is-paddingless is-radiusless">
      <svg xmlns="http://www.w3.org/2000/svg"  width="100%" height="198">
        <rect width="100%" height="100%" fill="#F5F5F5"/>
				<defs>
					<linearGradient id="aa" x1="50%" x2="50%" y1="-10.959%" y2="100%">
						<stop stop-color="#16b2c7" stop-opacity=".80" offset="0%"/>
						<stop stop-color="#fff" offset="100%"/>
					</linearGradient>
					<linearGradient id="cc" x1="50%" x2="50%" y1="-10.959%" y2="100%">
						<stop stop-color="#4a4a4a" stop-opacity="1" offset="00%"/>
						<stop stop-color="#363636" offset="70%"/>
					</linearGradient>
				</defs>
				<path transform="translate(-400, 0)" fill="url(#aa)" fill-rule="evenodd" d="M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z" transform="matrix(-1 0 0 1 1600 0)"/>
				<path transform="translate(500, 50)" fill="url(#cc)" fill-rule="evenodd" d="M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z" />
				<path transform="translate(-1100, 50)" fill="url(#cc)" fill-rule="evenodd" d="M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z" />

			</svg>
    </div>



{{ end }}
{{ define "modals" }}
    {{- partial "modal1.html" . -}}
{{ end }}
{{ define "footer" }}
    {{- partial "footer1.html" . -}}
{{ end }}
