{{ "<!-- ENTERING partial footer1.html -->" | safeHTML }}
<footer class="footer notification is-dark is-marginless is-radiusless">
  <div class="container">
     <div class="columns">

      <div class="column is-three-fifths is-offset-one-fifth">

            <p>&copy;1999-{{ now.Format "2006" }} {{ i18n "footerallrightsreserved"}}</p>
            <a class="link" href="/">{{ i18n "genhomename" }}</a> |
            <a class="link" href="/license">{{ i18n "genlicensename" }}</a> |
            <a class="link" href="/privacy">{{ i18n "genprivacyname" }}</a> |
            <a class="link" href="/japan-contacts">{{ i18n "genjpcontactsname" }}</a> |
            <a class="link" href="/eSolia-Contacts-vCard.vcf">vCard</a> |
            <a class="link" href="/colophon">{{ i18n "gencolophonname" }}</a> |
            <a class="link" href="https://updown.io/p/4isvl" target="_blank">{{ i18n "genstatusname" }}</a>
            <br>
            <br>
            <p class="buttons">
             <a class="button is-grey-light is-small" href="https://twitter.com/esolia_inc" target="_blank"><span class="icon is-small has-text-esolia-blue-1"><i class="fab fa-twitter"></i></span></a>
             <a class="button is-grey-light is-small" href="http://www.linkedin.com/company/esolia-inc" target="_blank"><span class="icon is-small has-text-esolia-blue-1"><i class="fab fa-linkedin"></i></span></a>
             <a class="button is-grey-light is-small" href="https://vimeo.com/channels/esolia" target="_blank"><span class="icon is-small has-text-esolia-blue-1"><i class="fab fa-vimeo"></i></span></a>
            </p>

      </div>

    </div>
  </div>
  {{ if not .Site.BuildDrafts }}
    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://scallop.esolia.pro/script.js" site="{{ .Site.Params.Analytics }}" defer></script>
    <!-- / Fathom -->
  {{ end }}
</footer>
{{ "<!-- LEAVING partial footer1.html -->" | safeHTML }}
