{{ "<!-- ENTERING partial gallery.html -->" | safeHTML }}

<h2>{{ i18n "gengalleryname" }}</h2>

{{ with .Page.Resources.Match "eSolia-Post-Slider*" }}
<div class="carousel carousel-animated carousel-animate-slide" data-autoplay="true" data-delay="7500">
  <div class="carousel-container">
    {{ range . }}
    {{ $scaled := .Resize "800x" }}
    <div class="carousel-item has-background">
      <a class="" href="{{ .RelPermalink }}"><img class="is-background" src="{{ $scaled.RelPermalink }}" alt="eSolia Gallery Screenshot or Photo"/></a>
      <div class="title is-size-6 is-italic has-text-esolia-blue-3"><a class="" href="{{ .RelPermalink }}"><span class="icon has-text-esolia-yellow-1"><i class="fas fa-search-plus"></i></span></a>
{{ .Title }}</div>
    </div>
    {{ end }}

  </div>
  <div class="carousel-navigation is-overlay">
    <div class="carousel-nav-left">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </div>
    <div class="carousel-nav-right">
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </div>
  </div>
</div>
{{ end }}

{{ "<!-- LEAVING partial gallery.html -->" | safeHTML }}


