{{ "<!-- ENTERING partial modal2.html -->" | safeHTML }}
    <div class="modal" id="modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">{{ i18n "topsectioncus" }}</p>
          <button class="delete modal-button" data-target="#modal" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          <!-- Content ... -->
          <div itemscope itemtype="http://schema.org/LocalBusiness">
            <h3 class="subtitle"><span itemprop="name">{{ i18n "compNameFull" }}</span> {{ i18n "eSoliaContacts" }}</h3>

            <div class="columns">
              <div class="column">
                <p class="is-italic">{{ i18n "hqAddress1" }}</p>
                <p class="is-italic">{{ i18n "hqAddress2" }}</p>
                <strong>Tel:</strong>&nbsp;
                  <span itemprop="telephone">
                    <a href="tel:+81345773380" class="link">+81-3-4577-3380</a>
                  </span>
                  <br>
                <strong>Fax:</strong>&nbsp;
                  <span itemprop="faxNumber">
                    <a href="fax:+81345773309" class="link">+81-3-4577-3309</a>
                  </span>
              </div>
              <div class="column">
                <figure class="image">
                  <img src="/img/eSolia-Logo-Flat-2015.png" alt="eSolia Inc. Blue and Yellow Logo" itemprop="logo">
                </figure>
              </div>
            </div>
            <p class="is-italic">{{ i18n "eSoliaContactsMore" | markdownify }}</p>
            <br>
            <p>{{ i18n "eSoliaMapBlurb" | safeHTML }}</p>
          </div>

          <br>
          <p><figure class="image is-16x9">
            <a href="/img/eSolia-Map-Shiodome-16x9-1200px.png"><img itemprop="image" src="/img/eSolia-Map-Shiodome-16x9-1200px.png" alt="Screenshot of map of area around eSolia office in the Shiodome City Center, including JR Shimbashi Rail station."></a>
          </figure></p>
        </section>
        <footer class="modal-card-foot">
          <button class="button modal-button" data-target="#modal">Cancel</button>
        </footer>
      </div>
    </div>
{{ "<!-- LEAVING partial modal2.html -->" | safeHTML }}
