<nav class="navbar is-info">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ .Site.BaseURL }}">
      <img src="/img/eSolia-Chicklet-Color-1024px.png" alt="eSolia Logo" >
    </a>
    <div class="navbar-burger burger" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar-menu" data-target="navMenu">
    <div class="navbar-start">
      <a class="navbar-item" href="{{ .Site.BaseURL }}">
        <span class="icon"><i class="fas fa-home has-text-warning"></i></span>
      </a>
      {{- $currentPage := . -}}
      {{- range .Site.Menus.main }}

      <div class="navbar-item is-hoverable{{ if .HasChildren }} has-dropdown{{ end }}">
        <a class="navbar-link{{ if $currentPage.HasMenuCurrent "main" . }} is-active{{ end }}" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
          {{ if .HasChildren -}}
          <div class="navbar-dropdown is-boxed">
            {{ range .Children -}}
            <a class="navbar-item{{ if $currentPage.IsMenuCurrent "main" . }} is-active{{ end }}" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
            {{ end }}
          </div>
          {{ end }}
      </div>
      {{- end }}
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <a href="/search">
            <span class="icon"><i class="fas fa-search has-text-warning"></i></span>
          </a>
          <a href="/search" data-show="quickview" data-target="quickviewDefault">
            <span class="icon"><i class="fas fa-cog has-text-warning"></i></span>
          </a>
          {{ if .IsTranslated }}
          {{ range .Translations }}
          <a class="button is-small is-danger is-rounded" href="{{ .Permalink }}">{{ .Site.Language.LanguageName }}</a>
          {{ end }}
          {{ else }}
          {{ if eq .Site.Language.Lang "en" }}
          <a class="button is-small is-danger is-rounded" href="/">日本語</a>
          {{ else }}
          <a class="button is-small is-danger is-rounded" href="/">English</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>

  </div>
</nav>
