{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "nav" }}
    {{- partial "nav1.html" (dict "context" . "navbgcolor" "is-esolia-blue-0" "langswcolor" "is-esolia-yellow-0" "naviconcolor" "has-text-esolia-secondary-2-0" "menuiconcolor" "has-text-esolia-blue-0") -}}
{{ end }}
{{ define "main" }}
<div class="columns content is-fullheight is-gapless">
  <div class="column is-3 is-sidebar-menu is-hidden-mobile">
     <aside class="menu content has-padding-t-m has-padding-l-m">
       {{- $currentPage := . -}}
       {{ range .Site.Menus.services }}
         <a class="is-hoverable{{ if $currentPage.IsMenuCurrent "services" . }} is-active{{ end }}" href="{{ .URL | absLangURL }}"><p class="menu-label has-text-info">{{ .Name }}</p></a>
          <ul class="menu-list">
          {{ if .HasChildren }}
          {{ range .Children }}
            <li><a class="is-hoverable{{ if $currentPage.IsMenuCurrent "services" . }} is-active{{ end }}" href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
          {{ end }}
          {{ end }}
          </ul>
       {{ end }}


        <p class="menu-label has-text-info">Tags</p>
       <div class="tags has-margin-l">
       {{ range .Params.tags }}
        <span class="tag is-rounded is-light"><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></span>
       {{ end }}
       </div>

    </aside>

  </div>
  <div class="column is-main-content">
      <div class="box content is-medium has-margin-m has-padding-l-xl has-padding-b-xxl">
        <p class="title is-5"><h1 class="has-text-esolia-blue-0">{{ if eq .Lang "en" }}{{ i18n "topicsWithTopics" }}{{ end }}&laquo;{{ .Title | upper}}&raquo; {{ if eq .Lang "ja" }}{{ i18n "topicsWithTopics" }}{{ end }}</h1></p>
        {{ range .Data.Pages.GroupByDate "2006" }}
        <h2 class="has-text-esolia-yellow-3">{{ .Key }}</h2>
        <ul class="mb3">
          {{ range .Pages }}
            {{ .Render "li" }}
          {{ end }}
        </ul>
        {{ end }}
        <p class="m3">
          {{ partial "list-topics.html" . }}
        </p>

        {{ if isset .Params "formcheckboxes" }}
          {{- partial "form-moreinfo.html" . -}}
        {{ end }}
        {{if isset .Params "gallery_id" }}
           {{ partial "gallery.html" . }}
        {{ end }}
      </div>
  </div>
</div>

{{ end }}
{{ define "modals" }}
    {{- partial "modal1.html" . -}}
{{ end }}
{{ define "footer" }}
    {{- partial "footer1.html" . -}}
{{ end }}

