{{ if eq $.Site.Language.Lang "en" }}
<table class="table is-size-6 is-striped is-hoverable is-fullwidth is-bordered">
  <thead>
    <tr>
      <th>Service</th>
      <th>Number</th>
      <th>Number Notes</th>
      <th>Hours of Operation</th>
      <th>Toll Free?</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    {{ $token := getenv "PRODBTOKEN15331" }}
    {{ $bearertoken := printf "Bearer %s" $token }}
    {{ $urlPre := "https://pro.dbflex.net" }}
    {{ $contactEN := getJSON $urlPre "/secure/api/v2/15331/Web%20Japan%20Contact%20and%20App/API%20List%20All/select.json" (dict "Authorization" $bearertoken) }}
    {{ range $contactEN }}
    <tr>
      <td>
        {{ with (index . "Description") }}{{ . | markdownify}}{{ end }}
      </td>
      <td>
        {{ with (index . "Number") }}{{ . }}{{ end }}
      </td>
      <td>
        {{ with (index . "Notes") }}{{ . | markdownify }}{{ end }}
      </td>
      <td>
        {{ with (index . "Hours") }}{{ . | markdownify }}{{ end }}
      </td>
      <td class="has-text-esolia-blue-0">
        {{ with (index . "Toll Free Call?") }}{{ replace . "true" "✓" | safeHTML }}{{ end }}
      </td>
      <td>
        {{ with (index . "URL") }}<a href="{{ . | safeHTML }}" target="_blank"><i class="fas fa-external-link-square-alt has-text-esolia-blue-1"></i></a>{{ end }}
      </td>
    </tr>
  {{ end }}
  </tbody>
</table>
{{ end }}

{{ if eq $.Site.Language.Lang "ja" }}
<table class="table is-size-6 is-striped is-hoverable is-fullwidth is-bordered">
  <thead>
    <tr>
      <th>サービス</th>
      <th>番号</th>
      <th>備考</th>
      <th>営業時間</th>
      <th>通話料無料</th>
      <th>リンク</th>
    </tr>
  </thead>
  <tbody>
    {{ $token := getenv "PRODBTOKEN15331" }}
    {{ $bearertoken := printf "Bearer %s" $token }}
    {{ $urlPre := "https://pro.dbflex.net" }}
    {{ $contactJP := getJSON $urlPre "/secure/api/v2/15331/Web%20Japan%20Contact%20and%20App/API%20List%20All/select.json" (dict "Authorization" $bearertoken) }}
    {{ range $contactJP }}
    <tr>
      <td>
        {{ with (index . "Description‡") }}{{ . | markdownify}}{{ end }}
      </td>
      <td>
        {{ with (index . "Number‡") }}{{ . }}{{ end }}
      </td>
      <td>
        {{ with (index . "Notes‡") }}{{ . | markdownify }}{{ end }}
      </td>
      <td>
        {{ with (index . "Hours‡") }}{{ . | markdownify }}{{ end }}
      </td>
      <td class="has-text-esolia-blue-0">
        {{ with (index . "Toll Free Call?") }}{{ replace . "true" "✓" }}{{ end }}
      </td>
      <td>
        {{ with (index . "URL‡") }}<a href="{{ . | safeHTML }}" target="_blank"><i class="fas fa-external-link-square-alt has-text-esolia-blue-1"></i></a>{{ end }}
      </td>
    </tr>
  {{ end }}
  </tbody>
</table>
{{ end }}
